body{
  font-family: "Verdana";
}
.topnav{
  border: solid;
  border-color: bisque;
  background-color: aquamarine;
}

.topnav a{
  float: left;
  color: orchid;
  text-align: center;
  padding: 5px 5px;
  font-size: 50px

}

.topnav a.logo{
  border: solid;
  border-color: chartreuse;
  padding: 16px 10px;
  background-color: crimson;
  color: black
}

.header{
  border: solid;
  background-color: #61dafb;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 3px;
  pointer-events: none;
  width: 10px;
  display: flex;
  justify-content: left;
  align-items: baseline;
  font-size: 3px;
  color: aqua;
}
.logo img {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 60px;

}
.menu {
  border: solid;
  width: border-box;
  display: inline-block;
  font-size: medium;
  margin-left: 80px;
  height: 70px;
}

.menu1 {
  display: flex;
  font-size: 15px;
  margin-left: 10px;
  height: 45px;
  border: #AA99AA;
  flex-direction: row;
}

.menuItem {

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-size: 15px;
  color: orchid;
  flex-direction: row;


}

.content{
  border: solid;
  display: flex;
  height: 480px;
  font-size: 30px;
  color: #282c34;
}

.footer{
  border: solid;
  height: 100px;

  font-size: 16px;
  color: #282c34;
  background: aquamarine;


}
